#root {
  padding: 2em;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.theme {
  align-self: flex-start;
}

.title-bar {
  position: relative;
  background-color: #DADADA;
  padding: 0.25em 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.traffic-lights {
  position: absolute;
  left: 10px;
}

.traffic-light {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 7px;
}

.red-light {
  background-color: #FF5F58;
}

.yellow-light {
  background-color: #FEBC2E;
}

.green-light {
  background-color: #28C941;
  margin-right: 0;
}

.console {
  padding: 0.1em 1em;
  border-radius: 0 0 10px 10px;
}

.blocks {
  margin: 20px 0;
  text-align: center;
}

.block-row {
  height: 2em;
}

.block {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.colors {
  display: flex;
}

.colors ul {
  list-style: none;
  padding: 0;
}

.colors li {
  min-width: 12em;
}
